name: Release generator binary

on:
  push:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    name: Release generator binary
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    env:
      OUTNAME: caulk-${{ github.ref_name == 'master' && 'rolling' || github.ref_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: bjia56/setup-cosmocc@v0.0.5
        with:
          version: latest
      - name: Configure
        shell: bash
        run: |
          cmake -G Ninja -S . -B build \
            -D CAULK_GENERATOR_ONLY=ON \
            -D CMAKE_TOOLCHAIN_FILE=.github/cosmopolitan.cmake
      - name: Build
        run: cmake --build build --target caulkGlueGenerator
      - name: Package
        run: |
          rm -rf caulk; mkdir -p caulk
          cp -rt caulk .github UNLICENSE README.md CMakeLists.txt
          mkdir -p caulk/src; cp -t caulk/src src/caulk.cpp
          cp build/caulkGlueGenerator caulk/ape; cp caulk/ape{,.exe}; chmod +x caulk/ape{,.exe}
          cd caulk; tar -czf ../build/$OUTNAME.tar.gz .
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name == 'master' && 'rolling' || github.ref_name }}
          files: build/${{ env.OUTNAME }}.tar.gz
